@import url('https://fonts.googleapis.com/css?family=Cabin');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cabin';
  background-color: #B4B89E;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
